
    .sticky-header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
    max-width: 100%;
    }

    .logo img {
    max-width: 100px;
    margin-right: 0px;
    margin-left: 300px;
    height: center;
    }

    .title {
    text-align: center;
    }

    nav {
    flex: 1;
    text-align: right;
    }

    /* Estilos para el contenido de la página */
    .content {
    /* Agrega suficiente margen superior para evitar que el contenido se superponga con el encabezado */
    margin-top: center; 
    }


    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    }

    header {
    background-color: #333;
    color: #fff;
    padding: 22px;
    text-align: center;
    /*border-radius: 10px;*/
    margin: 0% auto; /* Centra el div horizontalmente y agrega un espacio superior e inferior */
    max-width: 80%; /* Limita el ancho del div al 80% del contenedor principal */
    display: flex; /* Activa el modelo de caja flexible */
    align-items: center; /* Centra verticalmente los elementos dentro del encabezado */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no haya suficiente espacio */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    }
    .image-left{
    flex: 1;
    max-width: 15%; /* Ajusta el ancho máximo de las imágenes según tu preferencia */
    height: center;
    margin-right: 5px;
    }
    .image-left img{
    max-width: 50px;
    margin-right: 5px;
    }

    .header-content {
    flex: 1; /* Hace que el contenido (título e imagen central) se expanda para ocupar el espacio restante */
    text-align: center; /* Centra el contenido horizontalmente */
    }

    .center-image {
    max-width: 75%; /* Ajusta el ancho máximo de la imagen central según tu preferencia */
    margin-top: 10px; /* Agrega un espacio superior a la imagen central */
    }

    h1 {
    margin: 0;
    font-size: 40px;
    }  





    /* Estilo para el encabezado de "Preguntas Frecuentes" */

    .faq-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; /* Agregar un margen inferior para separar los encabezados */
    }

    /* Estilo para el contenido de "Preguntas Frecuentes" */
    .faq-content {
    background-color:#333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: none;
    position: absolute; /* Cambiar a posición absoluta */
    margin-right: 10px;
    width: 500px;
    direction: ltr; /* Cambiar a la dirección del texto de izquierda a derecha */
    right: 0;

    }

    /* Estilo para cada pregunta y respuesta */
    .faq-content details {
    border: 1px solid #ddd; /* Borde alrededor de cada pregunta */
    margin-bottom: 12px; /* Margen inferior entre cada pregunta */
    border-radius: 5px; /* Bordes redondeados */
    }

    /* Estilo para el encabezado de cada pregunta */
    .faq-content summary {
    font-weight: bold; /* Texto en negrita */
    padding: 7px; /* Espacio interno alrededor del encabezado */
    cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el encabezado */
    background-color: #333; /* Fondo gris claro */
    border-bottom: 2px solid #ddd; /* Borde inferior */
    text-align: left; /* Alinea el texto hacia la izquierda */
    }

    /* Estilo para el contenido de cada respuesta */
    .faq--content p {
    padding: 10px; /* Espacio interno alrededor del contenido */
    margin: 0; /* Elimina el margen predeterminado */
    text-align: left; /* Alinea el texto a la izquierda */
    }
    /* Estilo para mostrar el contenido cuando se abre */
    .faq-header.open + .faq-content {
    display: block;
    }






    .container {
    max-width: 76%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }


    .header-container {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 40px;
        margin: 0px auto; /* Centra el div horizontalmente y agrega un espacio superior e inferior */
        max-width: 1215px; /* Limita el ancho del div al 80% del contenedor principal */
        display: flex; /* Activa el modelo de caja flexible */
        align-items: center; /* Centra verticalmente los elementos dentro del div */
        justify-content: space-between; /* Distribuye los elementos horizontalmente con espacio entre ellos */
        border: 2px solid #fff; /* Borde blanco */
        overflow: hidden; /* Evita que los elementos internos se desborden */
    }

    .box {
        display: flex;
        align-items: center;
    }

    .image-container {
        flex: 1; /* Divide horizontalmente el espacio en 2 partes iguales */
        text-align: center; /* Centra la imagen horizontalmente */
    }

    .text-container {
        flex: 1; /* Divide horizontalmente el espacio en 2 partes iguales */
        text-align: center; /* Alinea el texto a la centro */
        margin-right: 50px; /* Agrega un margen a la derecha del texto */
        margin-left: 50px;
    }

    .header-container img {
        max-width: 50%;
    }
    .box img{
        max-width: 70%;
    }
    .header-container p{
        font-size: 20px;
    }
    .header-container h2{
    font-size: 30px;
    }
    .box2 {
    display: flex;
    align-items: center;
    }
    .box3 {
    display: flex;
    align-items: center;
    }
    .box4 {
    display: flex;
    align-items: center;
    
    }


    /* Estilos para el pie de página */
    .sticky-footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    z-index: 100; /* Asegura que el pie de página esté por encima del contenido */
    width:100%;
    border: 2px solid #fff; /* Borde blanco */
    }

    .social-icons {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    .social-icons a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        display: flex;
        flex-direction: row; /* Mantenemos la dirección horizontal */
        align-items: center;
    }

    .social-icons span {
        margin-top: 5px;
    }
    .social-icons img{
        max-width: 30px;
        margin-right: 5px; /* Agregamos un espacio entre el texto y la imagen */
    }

/*celular*/
@media only screen and (max-width: 600px) {
    .sticky-header {
        background-color: #333;
        padding: 0px 15px;
    }
    .logo img {
        max-width: 80px;
        margin-left: 10px;
    }
    .title {
        text-align: left;
        color: #fff;
    }
    nav {
        display: none;
    }
    header {
        background-color: #333;
        padding: 15px;
    }
    .image-left {
        margin-left: 15px;
    }
     .faq-content{
        overflow: hidden;
        width: 90%;
    }
    .header-content {
        text-align: left;
    }
    .center-image {
        max-width: 100%;
    }
    h1 {
        font-size: 30px;
        color: #fff;
    }
    .container {
        max-width: 100%;
        margin: 10px;
        padding: 10px;
        background-color: #fff;
    }
    .header-container {
        background-color: #333;
        color: #fff;
        padding: 20px;
        flex-direction: column;
    }
    .header-container img {
        max-width: 60%;
    }
    .header-container p {
        font-size: 16px;
    }
    .header-container h2 {
        font-size: 24px;
    }
    .box {
        flex-direction: column;
    }
    .text-container {
        margin: 0;
    }
    .box2,
    .box3,
    .box4,
    .box5 {
        flex-direction: column;
        margin: 5%;        
    }
    .social-icons {
        font-size: 20px;
    }
    .social-icons a {
        margin: 0 5px;
        color: #fff;
    }
    .social-icons img {
        max-width: 20px;
    }
}












